[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
django-crispy-forms = "*"
pillow = "*"
pytz = "*"
sqlparse = "*"
django_jalali = "*"
jdatetime = "*"
persiantools = "*"

[dev-packages]

[requires]
python_version = "3.12"
