{% extends 'base.html' %}
{% load static %}
{% block title %}بلاک{% endblock %}

{% block content %}
    <section class="container my-5 py-md-5">
        <p class="titleWithBg">بلاگ</p>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/footer-bg.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری و تفریحی کیش
                    </a>
                    <p class="text-justify px-3 my-4">
                        طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                         مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                     </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/blog/about-talesh.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری و تفریحی تالش
                    </a>
                    <p class="text-justify px-3 my-4">
                        طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                         مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                     </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/blog/abouthj.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری و تفریح رشت
                    </a>
                    <p class="text-justify px-3 my-4">
                        طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                         مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                     </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/blog/Turkmen-Sahra.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری ترکمن صحرا
                    </a>
                    <p class="text-justify px-3 my-4">
                        طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                         مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                     </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/blog/aznav.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری و تفریحی ازناو
                    </a>
                    <p class="text-justify px-3 my-4">
                        طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                         مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                     </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="attractionCard">
                    <img cclass="w-100" style="height: 250px; object-fit: cover;" src="{% static 'images/blog/dsfsd.jpg' %}" alt="هتل">
                    <a href="#" class="font-weight-bold my-4 py-1 px-1 text-center h6 d-block"
                        title="منطقه ی گردشگری و تفریحی ازناو">
                        منطقه ی گردشگری و تفریحی چالدران
                    </a>
                    <p class="text-justify px-3 my-4">
                       طرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                    <div class="d-flex align-items-center justify-content-between px-2 my-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
