{% extends 'base.html' %}

{% block title %}خانه میزبان{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="text-center">خانه میزبان</h1>
    </header>
    <main>
        <div class="container">
            <div class="row mt-4">
                {% for house in user.house_set.all %}
                <div class="col-md-6 mb-4">
                    <div class="hotelInfoCard">
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-7">
                                <img class="w-100" src="{{ house.image.url }}" alt="{{ house.name }}">
                            </div>
                            <div class="col-sm-5 px-1">
                                <a href="{% url 'house_detail' house.pk %}" class="font-weight-bold mb-3 d-block h5" title="{{ house.name }}">{{ house.name }}</a>
                                <div class="my-2">
                                    <i class="far fa-star"></i>
                                    <i class="fas fa-star yellow-text"></i>
                                    <i class="fas fa-star yellow-text"></i>
                                    <i class="fas fa-star yellow-text"></i>
                                    <i class="fas fa-star yellow-text"></i>
                                </div>
                                <div class="my-2 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="progress circle mx-auto" data-value='25'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-warning"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-warning"></span>
                                            </span>
                                            <div
                                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="font-weight-bold">3</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="m-0">(امتیاز کاربران از 5)</p>
                                </div>
                                <p class="house-price">قیمت: روزی {{ house.price_per_day }} تومان</p>
                                <p class="house-city">شهر: {{ house.city }}</p>
                                <a href="{% url 'house_detail' house.pk %}" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                            </div>
                        </div>
                        <div class="actions">
                            <button class="edit-btn" onclick="location.href='{% url 'house_update' pk=house.pk %}'">تغییر</button>
                            <!-- Trigger modal -->
                            <button class="delete-btn" data-toggle="modal" data-target="#deleteModal{{ house.pk }}">حذف</button>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ house.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ house.pk }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ house.pk }}">آیا از حذف خانه {{ house.name }} مطمئن هستید؟</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                این عمل قابل بازگشت نمی‌باشد. آیا مطمئن هستید که می‌خواهید این خانه را حذف کنید؟
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'house_list' %}" class="btn btn-secondary" data-dismiss="modal">بستن</a>
                                <form method="post" action="{% url 'house_delete' pk=house.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">حذف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <p>خانه ای با این مشخصات پیدا نشد !!! </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>


</body>
{% endblock %}
