{% load static %}
<!-- start double section -->
<section class="doubleSection">
    <div class="container">
        <div class="row item">
            <div class="col-md-5 text-center">
                <img class="img" src="{% static 'images/hotel.svg' %}" alt="هتل">
            </div>
            <div class="col-md-7">
                <h3 class="title">هتل</h3>
                <p class="text-justify">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                    را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </p>
                <a href="#" class="blue-btn rounded-border px-5" title="مشاهده">مشاهده</a>
                <a href="#" class="blue-btn rounded-border px-5" title="نمایش">نمایش</a>
            </div>
        </div>
        <div class="row item">
            <div class="col-md-5 text-center">
                <img class="img" src="{% static 'images/Untitled-7.png' %}" alt="هتل">
            </div>
            <div class="col-md-7">
                <h3 class="title">سوییت</h3>
                <p class="text-justify">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                    را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </p>
                <a href="#" class="blue-btn rounded-border px-5" title="مشاهده">مشاهده</a>
                <a href="#" class="blue-btn rounded-border px-5" title="نمایش">نمایش</a>
            </div>
        </div>
        <div class="row item">
            <div class="col-md-5 text-center">
                <img class="img" src="{% static 'images/Untitled-8.png' %}" alt="هتل">
            </div>
            <div class="col-md-7">
                <h3 class="title">جاذبه های گردشگری</h3>
                <p class="text-justify">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                    را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </p>
                <a href="#" class="blue-btn rounded-border px-5" title="مشاهده">مشاهده</a>
                <a href="#" class="blue-btn rounded-border px-5" title="نمایش">نمایش</a>
            </div>
        </div>
    </div>
</section>
<!-- end double section -->
