{% load static %}

<!-- start footer section -->
<footer style="background-image: url('{% static "images/footer-bg.jpg" %}')">
    <div class="wrapper container">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="هتل">
        <div class="row">
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست هتل ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li>
                                <a href="#" class="link" title="هتل شماره 1">هتل شماره 1</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 2">هتل شماره 2</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 3">هتل شماره 3</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 4">هتل شماره 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست هتل ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li>
                                <a href="#" class="link" title="هتل شماره 1">هتل شماره 1</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 2">هتل شماره 2</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 3">هتل شماره 3</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 4">هتل شماره 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست هتل ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li>
                                <a href="#" class="link" title="هتل شماره 1">هتل شماره 1</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 2">هتل شماره 2</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 3">هتل شماره 3</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 4">هتل شماره 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست هتل ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li>
                                <a href="#" class="link" title="هتل شماره 1">هتل شماره 1</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 2">هتل شماره 2</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 3">هتل شماره 3</a>
                            </li>
                            <li>
                                <a href="#" class="link" title="هتل شماره 4">هتل شماره 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="social text-center">
            <a href="#" class="item" title="شبکه اجتماعی">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="item" title="شبکه اجتماعی">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="item" title="شبکه اجتماعی">
                <i class="fab fa-telegram-plane"></i>
            </a>
            <a href="#" class="item" title="شبکه اجتماعی">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="item" title="شبکه اجتماعی">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="row copy-right">
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center"> Copyright © 2019 Desing by Gardeshgari</p>
            </div>
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center">
                    طراحی و پیاده سازی توسط تیم <a href="#" title="راهبرد هنر">راهبرد هنر</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer section -->
