{% load static %}
{% load static %}
<footer style="background-image: url('{% static "images/footer-bg.jpg" %}')">
    <div class="wrapper container">
        <img class="logo" src="{% static 'images/logo.svg' %}" alt="اجاره ویلا و خانه">
        <div class="row">
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست ویلاها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="ویلا ساحلی">ویلا ساحلی</a></li>
                            <li><a href="#" class="link" title="ویلا جنگلی">ویلا جنگلی</a></li>
                            <li><a href="#" class="link" title="ویلا کوهستانی">ویلا کوهستانی</a></li>
                            <li><a href="#" class="link" title="ویلا مدرن">ویلا مدرن</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست خانه ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="خانه شهری">خانه شهری</a></li>
                            <li><a href="#" class="link" title="خانه روستایی">خانه روستایی</a></li>
                            <li><a href="#" class="link" title="خانه سنتی">خانه سنتی</a></li>
                            <li><a href="#" class="link" title="خانه لوکس">خانه لوکس</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">خدمات ما</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="رزرو آنلاین">رزرو آنلاین</a></li>
                            <li><a href="#" class="link" title="پشتیبانی 24/7">پشتیبانی 24/7</a></li>
                            <li><a href="#" class="link" title="تخفیف های ویژه">تخفیف های ویژه</a></li>
                            <li><a href="#" class="link" title="راهنمای گردشگری">راهنمای گردشگری</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">تماس با ما</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="درباره ما">درباره ما</a></li>
                            <li><a href="#" class="link" title="تماس با ما">تماس با ما</a></li>
                            <li><a href="#" class="link" title="سوالات متداول">سوالات متداول</a></li>
                            <li><a href="#" class="link" title="همکاری با ما">همکاری با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="social text-center">
            <a href="#" class="item" title="توییتر"><i class="fab fa-twitter"></i></a>
            <a href="#" class="item" title="فیسبوک"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="item" title="تلگرام"><i class="fab fa-telegram-plane"></i></a>
            <a href="#" class="item" title="اینستاگرام"><i class="fab fa-instagram"></i></a>
            <a href="#" class="item" title="لینکدین"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="row copy-right">
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center"> Copyright © 2024 Designed by Negar Adhami</p>
            </div>
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center">طراحی و پیاده سازی توسط <a href="#" title="تیم طراحی">نگار ادهمی</a></p>
            </div>
        </div>
    </div>
</footer>
