{% load static %}
{% comment %} <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div> {% endcomment %}
<header>
    <nav class="navbar navbar-expand-lg fixed-top p-0 header-nav">
        <div class="container">
            <a class="navbar-brand p-0 m-0" href="#">
                <img src="{% static 'reservations/images/logo.png' %}" alt="هتل">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <input type="checkbox" id="checkbox3" class="checkbox3 visuallyHidden">
                <label for="checkbox3" class="m-0">
                    <div class="hamburger hamburger3">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                        <span class="bar bar3"></span>
                        <span class="bar bar4"></span>
                    </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" title="صفحه اصلی">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="هتل ها">هتل ها</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="سوییت ها">
                            سوییت ها
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" title="سوییت 1">سوییت 1</a>
                            <a class="dropdown-item" href="#" title="سوییت 2">سوییت 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" title="سوییت 3">سوییت 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown1"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="جاذبه گردشگری">
                            جاذبه گردشگری
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#" title="جاذبه 1">جاذبه 1</a>
                            <a class="dropdown-item" href="#" title="جاذبه 2">جاذبه 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" title="جاذبه 3">جاذبه 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="بلاگ">بلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="تماس با ما">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="درباره ما">درباره ما</a>
                    </li>
                </ul>
                <div class="mr-auto">
                    <div class="login">
                        <a href="#" class="item" title="ورود" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-unlock-alt"></i>
                            ورود
                        </a>
                        <div class="divider"></div>
                        <a href="#" class="item" title="ثبت نام" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-user-tie"></i>
                            ثبت نام
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
