<!--start hotel detail carousel section-->
<section class="owl-carousel-wrapper">
    <div class="container">
        <div class="titleWithBg d-flex align-items-center justify-content-between">
            <p class="mb-0 ml-2">سوییت های پیشنهادی</p>
            <a class="font-weight-normal" href="#" title="بیشتر">بیشتر +</a>
        </div>
        <!--start owl-layout section-->
        <div class="owl-layout-wrapper">
            <div class="owl-carousel 4-col-owl">
                <div class="hotelDetailCard">
                    <div class="boxHeader">
                        <div class="img" style="background-image: url('{% static 'images/Untitled-2.png' %}')">
                            <div class="text">
                                <p class="m-0">شبی 200000 تومان</p>
                                <p class="m-0">ویلایی</p>
                            </div>
                        </div>
                        <div class="detail row">
                            <div class="col-3 px-1">
                                <img src="{% static 'images/icon/home.png' %}" alt="هتل">
                                <p class="m-0">40 متر</p>
                            </div>
                            <div class="col-3 px-1">
                                <img src="{% static 'images/icon/home.png' %}" alt="هتل">
                                <p class="m-0">40 متر</p>
                            </div>
                            <div class="col-3 px-1">
                                <img src="{% static 'images/icon/home.png' %}" alt="هتل">
                                <p class="m-0">40 متر</p>
                            </div>
                            <div class="col-3 px-1">
                                <img src="{% static 'images/icon/home.png' %}" alt="هتل">
                                <p class="m-0">40 متر</p>
                            </div>
                        </div>
                    </div>
                    <div class="boxContent">
                        <a href="#" class="font-weight-bold h6 my-4 d-block text-center"
                            title="منطقه ی گردشگری و تفریحی ازناو">
                            منطقه ی گردشگری و تفریحی ازناو
                        </a>
                        <div class="mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <div class="progress circle mx-auto" data-value="25">
                                    <span class="progress-left">
                                        <span class="progress-bar border-warning"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar border-warning"
                                            style="transform: rotate(90deg);"></span>
                                    </span>
                                    <div
                                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="font-weight-bold">3</div>
                                    </div>
                                </div>
                            </div>
                            <p class="m-0">(امتیاز کاربران از 5)</p>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <div class="d-flex align-items-center">
                            <div>
                                <button class="like-button"></button>
                            </div>
                            <div>
                                <div class="dropup share-btn px-2">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start">
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در توییتر">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در فیسبوک">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در تلگرام">
                                            <i class="fab fa-telegram-plane"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در اینستاگرام">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a class="dropdown-item" href="#" title="اشتراک گذاری در لینکدین">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-btn" title="نمایش اطلاعات">نمایش اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end owl-layout section-->
    </div>
</section>
<!--end hotel detail carousel section-->
