
{% load static %}

<!-- start intro section -->
<section class="intro" style="background-image: url('{% static "images/intro-bg.png" %}')">
    <div class="container">
        <div class="row wrapper">
            <div class="col-md-7">
                <h2 class="title mb-4">
                    داستان موفقیت شما از اینجا آغاز می‌شود
                </h2>
                <h5 class="text-justify">
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان
                    رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                    اساسا مورد استفاده قرار گیرد.
                </h5>
                <div class="my-5">
                    <a href="#" class="white-btn rounded-border" title="جاذبه های گردشگری">جاذبه های گردشگری</a>
                    <a href="#" class="white-btn rounded-border" title="لیست هتل ها">لیست هتل ها</a>
                    <a href="#" class="white-btn rounded-border" title="لیست سوئیت ها">لیست سوئیت ها</a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/index.png' %}" alt="هتل">
            </div>
        </div>
    </div>
</section>
<!-- end intro section -->
